<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inventory.dao.ProductDao">

<update id="updateProductQuantity" parameterType="Product">
  update
    nokia_inventory.product
  set
    product_quantity = #{quantity}
  where
    product_id = #{id}
</update>

</mapper>