<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order.dao.OrderDao">

  <insert id="createOrder" parameterType="Order"
    useGeneratedKeys="true" keyProperty="id" keyColumn="order_id">
    insert into nokia_inventory.orders (user_id, order_status, order_placed_on,
    shipping_address, order_amount, delivery_date) values (
      #{userId}, #{orderStatus}, #{orderPlacedDate}, #{shippingAddressId},
      #{orderAmount}, #{deliveryDate})
  </insert>

  <update id="updateOrderStatus" parameterType="Order" >
    update   nokia_inventory.orders set
    order_status = #{orderStatus}
    where order_id = #{id}
  </update>

  <select id="fetchInvoiceItem" parameterType="Order" resultType="LineItem">
    Select p.product_name, p.selling_price, count(i.inventory_id) from nokia_inventory.product  p
    inner join nokia_inventory.inventory i on i.product_id = p.product_id
    and i.order_id = #{id} and i.inventory_status  = 'ORDERED'
    group by p.product_name, p.selling_price
  </select>

</mapper>